{% extends "base.html" %}

{% block content %}
<header class="masthead">
  <div class="col-md-4 offset-md-4 h-100 text-center form-div">
  <table class="table table-dark text-white">
    <thead>
      <tr>
        <th colspan="2" class="text-center text-nowrap">My Account</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Email</th> 
        <td class="">{{ g.user.email }}
          {% if not g.user.confirmed %}
            <br>
            UNCONFIRMED
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Username</th>
        <td class="">{{ g.user.username }}</td>
      </tr>
      <tr class="">
        <th scope="row">Payment plan</th>
        <td class="">
        {% if g.user.purchased %}
        {{ g.user.plan }} </td>
        <tr>
          <th scope="row">Renewal Date</th>
          <td class="">{{ g.stop_date }}</td>
        </tr>
        {% else %}
        None
        </td>
        {% endif %}
      </tr>
    </tbody>
  </table>
  <br>
  <div class="col-md-10 offset-md-1">
  <a class="btn btn-dark" href="{{url_for('change_username',username=g.user.username) }}">Change Username</a>
  <a class="btn btn-dark" href="{{url_for('change_password',username=g.user.username) }}">Change Password</a>
  </div>
  {% if not g.user.confirmed %}
    <div class="col-md-10 offset-md-1 form-div">
      <h5>Email Unconfirmed</h5>
      <hr>
      <p>Check your spam folder for the confirmation email and mark us as not spam for future emails</p>
      <form action="{{ url_for('account',username=g.user.username) }}" method="post">
        <input type="submit" name="resend" value="Resend" class="btn btn-dark">
      </form>
    </div>
  {% endif %}
  </div>
</header>
{% endblock %}
