{% extends "base.html" %}

{% block content %}
  {% for error in form.insta_username.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  {% for error in form.users.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  <div class="col-md-4 offset-md-4 text-center">
    <h1 class="text-nowrap">Add Users</h1>
    <form action="" method="post" name="login"> 
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label>Instagram Username</label>
          {{ form.insta_username(class_="form-control") }}
        </div>
        <div class="form-group">
          <label>Users to Add</label>
          <br>
          {{ form.users(data_role="tagsinput", class_="form-control") }}
        </div>
        <div class="form-group">
          <label>Make Whitelist?</label>
          {{ form.make(class_="form-control") }}
        </div>
      <input type="submit" value="Add Users to Whitelist" class="btn btn-dark">
    </form>
  </div>
{% endblock %}
