{% extends "base.html" %}

{% block content %}
<header class="masthead">
  <div class="col-md-4 offset-md-4 text-center h-100 form-div">
    <h1 class="text-nowrap">Forgot Username</h1>
    <form action="" method="post" name="forgot_username"> 
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label>Email</label>
          {% for error in form.email.errors %}
            <div class="error-msg text-nowrap"><strong>{{ error }}</strong></div>
          {% endfor %}
          {{ form.email(class_="form-control") }}
        </div>
      <input type="submit" value="Submit" class="btn btn-dark">
    </form>
    </div>
  </div>
</header>
{% endblock %}

