{% extends "base.html" %}
    {% block content %}
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
         <div class="col-7 col-xs-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-3">Real Followers<br>Real Engagement</h1>
              <h4 class="mb-3 lato-text">the most effective and affordable Instagram Bot on planet earth<h4>
                  <a href="#pricing" class="btn text-white">Starting at only $5</a>
                  <hr>
              <a href="#info" class="btn btn-outline btn-xl js-scroll-trigger">Learn More</a>
              {% if g.user.is_authenticated == False %}
                <a href="{{ url_for('register') }}" class="btn btn-outline btn-xl js-scroll-trigger">Start 1 week for Free!</a>
              {% endif %}
            </div>
          </div>
          <div class="col-5 col-xs-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <img style="margin-top:180px;" src="{{ url_for('static',filename='img/arrow_no_background_resize.png') }}" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="features bg-primary text-center" id="info">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Follow Reciprocity</h2>
            <hr>
            <div class="row">
              <div class="col-md-4 feature-item">
                <i class="icon-heart text-primary"></i>
                <p>FollowBack automatically follows and likes users that are interested in your page</p>
              </div>
              <div class="col-md-4 feature-item">
                <i class="icon-user-follow"></i>
                <p>People are likely to follow you back after you have followed them</p>
              </div>
              <div class="col-md-4 feature-item">
                <i class="icon-graph"></i>
                <p>Increase traffic and engagement to your profile. It's the cheapest way to advertise your brand!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="simplicity">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Simplicity</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-organization text-primary"></i>
                    <h3>Link Your Instagram Account</h3>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-people text-primary"></i>
                    <h3>Choose popular pages in your niche</h3>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-cloud-upload text-primary"></i>
                    <h3>Run your bot on the cloud, 24/7</h3>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Features</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <h4 class="text-center">Follow Schedule</h4>
                  <hr>
                  <ul>
                    <li>Specify maximum number of people to follow per day</li>
                    <li>Specify maximum number of photos to like per day</li>
                    <li>Mimics human activity to avoid account ban</li>
                    <li>Unfollows all users not on Whitelist intermittently to avoid following too many people</li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <h4 class="text-center">Record keeping</h4>
                  <hr>
                  <ul>
                    <li>We automatically keep track of all the users you have liked and followed, and avoid interacting with them in the future to avoid spammy behavior</li>
                    <li>Use the Dashboard to see current status of your running bot, including number of likes and follows to date</li>
                </div>
                <div class="col-lg-4">
                  <h4 class="text-center">Whitelist</h4>
                  <hr>
                  <ul>
                    <li>Whitelist is a list of users to never unfollow</li>
                    <li>Automatically create a Whitelist from the users you are currently following</li>
                    <li>Manually add users to Whitelist at any point</li>
                  </ul>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="download" id="pricing">
        <div class="container">
          <h2 class="text-white text-center">Pricing</h2>
          <div class="row db-padding-btm db-attached">
						<div class="col-md-4 offset-md-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup>$</sup>5
                                <small>per month</small>
                        </div>
                        <div class="type">
													CLASSIC
                        </div>
                        <ul>
                            <li><i class="icon-user-follow"></i>Unlimited Liking And Following</li>
                            <li><i class="icon-notebook"></i>Make And Edit Whitelist</li>
                            <li><i class="icon-user-unfollow"></i>Unlimited Unfollowing</li>
														<li><i class="icon-info"></i>One Linked Instagram Account</li>
                        </ul>
                        <div class="pricing-footer">

                          {% if g.user.is_authenticated %}
                            <a href="{{ url_for('purchase',username=g.user.username) }}" class="btn db-button-color-square btn-lg">SUBSCRIBE</a></div>
                          {% else %}
                            <a href="{{ url_for('register') }}" class="btn db-button-color-square btn-lg">FREE TRIAL</a></div>
                          {% endif %}
                    </div>
                </div>
            </div>
          </div>
				</div>
    </section>

    {% endblock %}
