{% extends "base.html" %}

{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
  {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  <div class="text-nowrap col-md-4 offset-md-4 card text-center">
    <div class="card-header"><h1 class="col-md-4 offset-md-4">Login</h1></div>
    <div class="card-block">
    <form action="" method="post" name="login" class="col-md-4 offset-md-4">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label>Username</label>
          {{ form.username(class_="form-control") }}
        </div>
        <div class="form-group">
          <label>Password</label>
          {{ form.password(class_="form-control") }}
        </div>
        <div class="form-check">
          <label class="form-check-label">
            {{ form.remember_me(class_="form-check-input") }} 
            Remember Me
          </label>
        </div>
      <input type="submit" value="Sign In" class="btn btn-dark">
    </form>
    </div>
  </div>
{% endblock %}

