{% extends "base.html" %}

{% block content %}
  <div>Purchase here!</div>
		<form name="topaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_xclick-subscriptions">
      <input type="hidden" name="custom" value="{{ g.user.username }}">
			<input type="hidden" name="business" value="admin-facilitator@followback.org">
			<input type="hidden" name="item_name" value="FollowBack Instagram Bot Monthly Subscription">
			<input type="hidden" name="item_number" value="500">
			<input type="hidden" name="no_shipping" value="1">
			<input type="hidden" name="a3" value="5.00">
			<input type="hidden" name="p3" value="1">
			<input type="hidden" name="t3" value="M">
			<input type="hidden" name="src" value="1">
			<input type="hidden" name="sra" value="1">
      <input type="hidden" name="return" value="{{ url_for('success',username=g.user.username, _external=True) }}">
			<input type="hidden" name="cancel_return" value="{{ url_for('purchase',username=g.user.username, _external=True) }}">
			<input type="hidden" name="notify_url" value="{{ url_for('ipn',_external=True) }}">
			<input type="submit" value="Subscribe" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-danger">
		</form>
{% endblock %}

