{% extends "base.html" %}

{% block content %}
<header class="masthead">
  <div class="col-md-2 offset-md-5 text-center h-100 form-div">
    <h1 class="">Reset Password</h1>
    <form action="" method="post" name="reset_password"> 
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label>New Password</label>
          {% for error in form.new_password.errors %}
            <div class="error-msg text-nowrap"><strong>{{ error }}</strong></div>
          {% endfor %}
          {{ form.new_password(class_="form-control") }}
        </div>
        <div class="form-group">
          <label>Confirm New Password</label>
          {% for error in form.new_password_confirm.errors %}
            <div class="error-msg text-nowrap"><strong>{{ error }}</strong></div>
          {% endfor %}
          {{ form.new_password_confirm(class_="form-control") }}
        </div>
      <input type="submit" value="Submit" class="btn btn-dark">
    </form>
    </div>
  </div>
  </header>
{% endblock %}

