{% extends "base.html" %}

{% block content %}
<header class="masthead">
  <div class="h-100 form-div">
    <div class="row">
      <div style="padding-top:87px;" class="col-md-3 offset-md-2">
				<div id="accordion" role="tablist" aria-multiselectable="true">
					<div class="card bot-card">
						<div class="card-header" role="tab" id="headingOne">
							<h6 class="mb-0">
								Instagram Username
								<a class="text-white float-right" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="" aria-controls="collapseOne">
									<i class="icon-arrow-down"></i>		
								</a>
							</h6>
						</div>
						<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="card-block">
								Your Instagram Username. Select from a list of your registered accounts. Since we are in alpha stage right now, you can only register one account. 
							</div>
						</div>
					</div>
					<div class="card bot-card">
						<div class="card-header" role="tab" id="headingTwo">
							<h6 class="mb-0">
								Instagram Password
								<a class="collapsed text-white float-right" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="icon-arrow-down"></i>		
								</a>
							</h6>
						</div>
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="card-block">
								Your Instagram Password. Note we ask you to enter your password every time we interact with your Instagram Account. This is for your security, so we do not have to store your password on our servers.
							</div>
						</div>
					</div>
					<div class="card bot-card">
						<div class="card-header" role="tab" id="headingThree">
							<h6 class="mb-0">
                Unfollows Per Day
								<a class="collapsed text-white float-right" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i class="icon-arrow-down"></i>		
								</a>
							</h6> </div>
						<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="card-block">
                Maximum number of users to unfollow per day. This number should be the same as the Follows Per Day option you use in FollowBack Bot. If you have never run FollowBack Bot before, you should start with 400 at the most. 
							</div>
						</div>
					</div>
					<div class="card bot-card">
						<div class="card-header" role="tab" id="headingFour">
							<h6 class="mb-0">
								Use Whitelist 
								<a class="text-white float-right" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="" aria-controls="collapseFour">
									<i class="icon-arrow-down"></i>		
								</a>
							</h6>
						</div>
						<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="card-block">
                Whether or not to use your whitelist. If checked, we will not unfollow any users on your whitelist. If unchecked, we will unfollow everyone indiscriminately. We recommend you keep it checked. <strong><i>Uncheck with caution</i></strong>
							</div>
						</div>
					</div>
				</div>
      </div>
      <div class="col-md-3 offset-md-2 text-center">
        <h1 class="">Unfollow Bot</h1>
        <form action="" method="post" name="unfollow_bot">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <label>Instagram Username</label>
              {% for error in form.insta_username.errors %}
                <div class="error-msg text-nowrap"><strong>{{ error }}</strong></div>
              {% endfor %}
              {{ form.insta_username(class_="form-control") }}
            </div>
            <div class="form-group">
              <label>Instagram Password</label>
              {% for error in form.insta_password.errors %}
                <div class="error-msg text-nowrap"><strong>{{ error }}</strong></div>
              {% endfor %}
              {{ form.insta_password(class_="form-control") }}
            </div>
            <div class="form-group">
              <label>Unfollows Per Day</label>
              {% for error in form.follows_per_day.errors %}
                <div class="error-msg text-nowrap"><strong>{{ error }}</strong></div>
              {% endfor %}
              {{ form.follows_per_day(class_="form-control") }}
            </div>
            <div class="form-check">
              <label>Use Whitelist</label>
              {% for error in form.use_whitelist.errors %}
                <div class="error-msg text-nowrap"><strong>{{ error }}</strong></div>
              {% endfor %}
              {{ form.use_whitelist(class_="form-control") }}
            </div>
          <input type="submit" value="Submit" class="btn btn-dark">
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}
