{% extends "base.html" %}

{% block content %}
  {% for error in form.insta_username.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  {% for error in form.insta_password.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  {% for error in form.use_whitelist.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  <div class="col-md-4 offset-md-4 text-center">
    <h1 class="text-nowrap">Unfollow Bot</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label>Instagram Username</label>
          {{ form.insta_username(class_="form-control") }}
        </div>
        <div class="form-group">
          <label>Instagram Password</label>
          {{ form.insta_password(class_="form-control") }}
        </div>
        <div class="form-group">
          <label>Unfollows Per Day</label>
          {{ form.follows_per_day(class_="form-control") }}
        </div>
        <div class="form-check">
          <label>Use Whitelist?</label>
          {{ form.use_whitelist(class_="form-control") }}
        </div>
      <input type="submit" value="Start Unfollowing" class="btn btn-dark">
    </form>
  </div>
{% endblock %}
